.btn,
.btn-primary,
.btn-secondary,
.btn-tertiary {
  @apply inline-flex flex-row items-center gap-2 w-auto px-4 py-2 rounded-3xl font-medium text-base cursor-pointer border-none no-underline transition-opacity duration-150;
}

.btn:active,
.btn-primary:active,
.btn-secondary:active,
.btn-tertiary:active {
  @apply opacity-85;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
}

.btn-tertiary {
  background-color: var(--color-tertiary);
  color: var(--color-on-tertiary);
}
